@import "../../../../styles/mixins.scss";

.card {
  position: relative;
  width: 100%;
  background: var(--card-color);
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  gap: 32px;
  border-radius: 16px;
  overflow: hidden;
  padding: 16px;

  @include for-phone-only {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    object-fit: contain;
  }
  .details {
    padding-block: 16px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-grow: 1;
    .iconButtons {
      display: flex;
      gap: 16px;
      @include for-phone-only {
        justify-content: center;
      }
    }

    .detailsButton {
      font-family: "Raleway", sans-serif;
      padding-block: 16px;
      padding-inline: 32px;
      align-self: flex-end;
      align-items: center;
      border: none;
      border-radius: 24px;
      display: flex;
      justify-content: center;
      gap: 16px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      color: var(--title-color);
      background-color: var(--background-color);
      &:hover {
        box-shadow: var(--common-shadow);
      }
      @include for-phone-only {
        align-self: center;
      }
    }
    @include for-phone-only {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 20px;
      color: var(--title-color);
      margin-bottom: 16px;
      text-transform: uppercase;
      @include for-phone-only {
        text-align: center;
      }

      span {
        text-transform: none;
        font-weight: 500;
        font-size: 16px;
        color: var(--description-color);
        display: block;
        margin-top: 5px;
      }
    }

    p {
      @include for-phone-only {
        text-align: center;
      }
    }
  }
}
