@import "../../styles/mixins.scss";

.container {
  padding-block: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  @include for-laptops-only {
    flex-direction: row;
    align-items: flex-start;
  }
}
