@use "../../styles/typed.scss" as type;
@import "../../styles/mixins.scss";

.home-container {
  background-color: var(--card-color);
  padding: 32px;
  border-radius: 16px;
  min-height: 450px;
  position: relative;
}

.input-wrapper {
  display: block;
  font-family: monospace;
  font-size: 125%;
  width: 75%;
  > .placeholder {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    @include type.typed(
      "Welcome to my Portfolio",
      "I am Mohammed Saad",
      "A Software Engineer",
      1.5,
      (
        caret-width: 2px,
        caret-space: 2px,
      )
    );
  }
}

.laptopWrapperLargeScreen {
  display: none;
  translate: 0px 100px;
  z-index: 6;
  @include for-laptops-only {
    display: block;
  }
}

.laptopWrapperSmallScreen {
  display: block;
  translate: 0px 100px;
  z-index: 6;
  padding-bottom: 100px;
  @include for-laptops-only {
    display: none;
  }
  @include for-phone-only {
    translate: 0px 65px;
  }
}

.booksWrapperLargeScreen {
  display: block;
  position: relative;
  z-index: 5;
  padding-block-start: 32px;
  width: 307.03px;
  @include for-phone-only {
    display: none;
  }
}

.booksWrapperSmallScreen {
  display: none;
  position: relative;
  z-index: 7;
  padding-block-start: 100px;
  padding-block-end: 64px;
  @include for-phone-only {
    display: block;
  }
}
