@use "../../styles/typed.scss" as type;

.home-container {
  background-color: var(--card-color);
  padding: 32px;
  border-radius: 16px;
  min-height: 450px;
  position: relative;
}

.input-wrapper {
  display: block;
  font-family: monospace;
  font-size: 125%;
  width: 75%;
  > .placeholder {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    @include type.typed(
      "Welcome to my Portfolio",
      "I am Mohammed Saad",
      "A Software Engineer",
      1.5,
      (
        caret-width: 2px,
        caret-space: 2px,
      )
    );
  }
}
