.iconButton {
  border: none;
  width: 40px;
  height: 40px;
  color: var(--title-color);
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    box-shadow: var(--common-shadow);
  }
}
